html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Noto Sans TC', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.375rem;
  margin: 1rem 0 1.5rem;
}

.d-none {
  display: none;
}

.justify-content-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

input {
  margin: 0;
}

main.container .main__form .form-row select, main.container .main__form .form-row input {
  border: 1px solid #4A4A4A;
  border-radius: 4px;
  padding: 12px 18px;
  font-size: 12px;
}

.container {
  margin: auto 15px;
}

@media screen and (min-width: 375px) {
  .container {
    margin: auto 10.3rem;
  }
}

@media screen and (min-width: 375px) {
  main.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

@media screen and (min-width: 375px) {
  main.container h1.main__title {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: title;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 2rem;
    margin: 6rem 0 3rem;
  }
}

main.container .main__stepper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 375px) {
  main.container .main__stepper {
    grid-area: stepper;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

main.container .main__stepper .step {
  text-align: center;
  color: #afb1bd;
  position: relative;
}

main.container .main__stepper .step:nth-child(1) .circle-container::after {
  content: "1";
  font-family: 'Nunito Sans', sans-serif;
}

main.container .main__stepper .step:nth-child(2) .circle-container::after {
  content: "2";
  font-family: 'Nunito Sans', sans-serif;
}

main.container .main__stepper .step:nth-child(3) .circle-container::after {
  content: "3";
  font-family: 'Nunito Sans', sans-serif;
}

main.container .main__stepper .step:not(:last-child) {
  margin-right: 7.75rem;
}

main.container .main__stepper .step .circle-container {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 1px solid #afb1bd;
}

main.container .main__stepper .step .circle-container::after {
  line-height: 200%;
}

@media screen and (min-width: 375px) {
  main.container .main__stepper .step .circle-container {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
  }
  main.container .main__stepper .step .circle-container::after {
    line-height: 150%;
  }
}

main.container .main__stepper .step .label-container {
  display: none;
}

@media screen and (min-width: 375px) {
  main.container .main__stepper .step .label-container {
    display: initial;
  }
}

main.container .main__stepper .step .connect-line {
  display: block;
  width: 3.75rem;
  height: 2px;
  background-color: #f0f0f5;
  position: absolute;
  top: 1rem;
  left: calc(100% + 2rem);
}

@media screen and (min-width: 375px) {
  main.container .main__stepper .step .connect-line {
    top: 0.75rem;
  }
}

main.container .main__stepper .step:nth-child(1) .circle-container {
  color: #ffffff;
  background-color: #2a2a2a;
  border: 1px solid #2a2a2a;
}

main.container .main__stepper .step:nth-child(1) .label-container {
  color: #2a2a2a;
}

main.container .main__stepper .step:nth-child(1) .connect-line {
  background-color: #000000;
}

main.container .main__stepper .step.active .circle-container {
  color: #2a2a2a;
  border: 1px solid #2a2a2a;
}

main.container .main__stepper .step.checked .circle-container {
  color: #ffffff;
  background-color: #333333;
  border: 1px solid #333333;
}

main.container .main__stepper .step.checked .circle-container::after {
  content: "\2714";
}

main.container .main__stepper .step.active .connect-line, main.container .main__stepper .step.checked .connect-line {
  background-color: #000000;
}

main.container .main__stepper .step.active .label-container, main.container .main__stepper .step.checked .label-container {
  color: #2a2a2a;
}

@media screen and (min-width: 375px) {
  main.container .main__stepper .step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main.container .main__form {
  margin: 1.5rem 0 2rem;
}

@media screen and (min-width: 375px) {
  main.container .main__form {
    grid-area: form;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
    margin: 4rem 0 3rem;
  }
}

main.container .main__form h3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

main.container .main__form__grid-area-part-one {
  display: -ms-grid;
  display: grid;
  row-gap: 1.5rem;
  -ms-grid-columns: (1fr)[2] 30px (1fr)[3];
      grid-template-columns: repeat(2, 1fr) 30px repeat(3, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas: "gender gender . name name name" "phone phone phone phone phone phone" "email email email email email email" "city city city city city city" "address address address address address address";
}

@media screen and (min-width: 375px) {
  main.container .main__form__grid-area-part-one {
    -ms-grid-columns: (1fr)[2] 30px 1fr 30px 3fr;
        grid-template-columns: repeat(2, 1fr) 30px 1fr 30px 3fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "gender gender . name name name" "phone phone phone phone . email" "city city . address address address";
  }
}

main.container .main__form__grid-area-part-two {
  display: -ms-grid;
  display: grid;
  row-gap: 1.5rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "standard" "dhl";
}

@media screen and (min-width: 375px) {
  main.container .main__form__grid-area-part-two {
    -ms-grid-columns: (1fr)[5] 1fr;
        grid-template-columns: repeat(5, 1fr) 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "standard standard standard standard standard ." "dhl dhl dhl dhl dhl .";
  }
}

main.container .main__form__grid-area-part-three {
  display: -ms-grid;
  display: grid;
  row-gap: 1.5rem;
  -ms-grid-columns: 1fr 30px 1fr;
      grid-template-columns: 1fr 30px 1fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "cardOwner cardOwner cardOwner" "cardNum cardNum cardNum" "thru . csc";
}

@media screen and (min-width: 375px) {
  main.container .main__form__grid-area-part-three {
    -ms-grid-columns: (1fr)[3] 30px (1fr)[3];
        grid-template-columns: repeat(3, 1fr) 30px repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "cardOwner cardOwner cardOwner cardOwner cardOwner . ." "cardNum cardNum cardNum cardNum cardNum . ." "thru thru thru . csc csc csc";
  }
}

main.container .main__form .form-row {
  width: 100%;
}

main.container .main__form .form-row > label {
  display: block;
  margin-bottom: 0.5rem;
  color: #808080;
  font-weight: 700;
  font-size: 12px;
}

main.container .main__form .form-row > label.standard-delivery, main.container .main__form .form-row > label.dhl-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #f0f0f5;
  border-radius: 4px;
  margin-bottom: 0;
  padding: 11px 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

main.container .main__form .form-row > label.standard-delivery.delivery-active, main.container .main__form .form-row > label.dhl-delivery.delivery-active {
  border-color: #2a2a2a;
}

main.container .main__form .form-row > label.standard-delivery {
  font-family: "Inter", sans-serif;
}

main.container .main__form .form-row .select-wrapper {
  position: relative;
}

main.container .main__form .form-row .select-wrapper::after {
  content: "\25BE";
  position: absolute;
  top: 50%;
  right: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #2a2a2a;
}

main.container .main__form .form-row select {
  width: 100%;
  -webkit-appearance: none;
}

main.container .main__form .form-row select#city:invalid {
  color: #999999;
}

main.container .main__form .form-row input {
  width: 100%;
}

main.container .main__form .form-row input::-webkit-input-placeholder {
  color: #999999;
}

main.container .main__form .form-row input:-ms-input-placeholder {
  color: #999999;
}

main.container .main__form .form-row input::-ms-input-placeholder {
  color: #999999;
}

main.container .main__form .form-row input::placeholder {
  color: #999999;
}

main.container .main__form .form-row input[type="radio"] {
  all: unset;
  width: 20px;
  height: 20px;
  border: 1px solid #222222;
  border-radius: 50%;
}

main.container .main__form .form-row input[type="radio"]:checked {
  -webkit-box-shadow: inset 0 0 0 6px #2a2a2a;
          box-shadow: inset 0 0 0 6px #2a2a2a;
  border: 1px solid #2a2a2a;
}

main.container .main__form .form-row .standard-delivery__wrapper,
main.container .main__form .form-row .dhl-delivery__wrapper {
  width: 87%;
  margin-left: 20px;
}

main.container .main__form .form-row .standard-delivery__wrapper__title,
main.container .main__form .form-row .dhl-delivery__wrapper__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2px;
}

main.container .main__form .form-row .standard-delivery__wrapper__title span:nth-child(1),
main.container .main__form .form-row .dhl-delivery__wrapper__title span:nth-child(1) {
  font-size: 14px;
  line-height: 20px;
}

main.container .main__form .form-row .dhl-delivery__wrapper__title span:nth-child(1) {
  font-weight: 700;
}

main.container .main__form .form-row.gender {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: gender;
}

main.container .main__form .form-row.name {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: name;
}

main.container .main__form .form-row.phone {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: phone;
}

main.container .main__form .form-row.email {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: email;
}

main.container .main__form .form-row.city {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: city;
}

main.container .main__form .form-row.address {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: address;
}

main.container .main__form .form-row.standard-delivery {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: standard;
}

main.container .main__form .form-row.dhl-delivery {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: dhl;
}

main.container .main__form .form-row.cardOwner {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: cardOwner;
}

main.container .main__form .form-row.cardNum {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: cardNum;
}

main.container .main__form .form-row.thru {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: thru;
}

main.container .main__form .form-row.csc {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: csc;
}

main.container .main__cart {
  border: 1px solid #f0f0f5;
  border-radius: 8px;
  padding: 1rem 1rem 0;
}

@media screen and (min-width: 375px) {
  main.container .main__cart {
    grid-area: cart;
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
    padding: 2rem 1.5rem 0;
  }
}

main.container .main__cart__title {
  display: none;
}

@media screen and (min-width: 375px) {
  main.container .main__cart__title {
    display: inherit;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin-bottom: 2.125rem;
  }
}

main.container .main__cart__list .main__cart__item {
  text-align: right;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 2fr;
      grid-template-columns: 1fr auto 2fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  row-gap: 1.125rem;
      grid-template-areas: "img . title" "img . counter" "img . price";
}

@media screen and (min-width: 375px) {
  main.container .main__cart__list .main__cart__item {
    text-align: left;
    -ms-grid-columns: 1fr 2fr auto 1fr;
        grid-template-columns: 1fr 2fr auto 1fr;
        grid-template-areas: "img title . price" "img counter . ." "img . . .";
  }
}

main.container .main__cart__list .main__cart__item__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: img;
  width: 100px;
  height: 100px;
  margin-right: 1.25rem;
}

main.container .main__cart__list .main__cart__item__img img {
  width: 100%;
}

main.container .main__cart__list .main__cart__item__title {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: title;
}

main.container .main__cart__list .main__cart__item__title span {
  line-height: 1.5rem;
}

main.container .main__cart__list .main__cart__item__price {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: price;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}

@media screen and (min-width: 375px) {
  main.container .main__cart__list .main__cart__item__price {
    text-align: right;
  }
}

main.container .main__cart__list .main__cart__item__counter {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: counter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 17px;
}

@media screen and (min-width: 375px) {
  main.container .main__cart__list .main__cart__item__counter {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

main.container .main__cart__list .main__cart__item__counter__minus, main.container .main__cart__list .main__cart__item__counter__plus {
  position: relative;
  width: 26px;
  height: 27px;
  background-color: #f0f0f5;
  border-radius: 50%;
}

main.container .main__cart__list .main__cart__item__counter__minus {
  margin-right: 1.875rem;
}

main.container .main__cart__list .main__cart__item__counter__plus {
  margin-left: 1.875rem;
}

main.container .main__cart__list .main__cart__item__counter__minus::after, main.container .main__cart__list .main__cart__item__counter__plus::after {
  content: "";
  width: 10.84px;
  height: 1.8px;
  background-color: #000000;
  border-radius: 2px;
  position: absolute;
  top: 13px;
  left: 8px;
}

main.container .main__cart__list .main__cart__item__counter__plus::before {
  content: "";
  width: 10.84px;
  height: 1.8px;
  background-color: #000000;
  border-radius: 2px;
  position: absolute;
  top: 13px;
  left: 8px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

main.container .main__cart__footer {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

main.container .main__cart__footer__fee, main.container .main__cart__footer__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #f0f0f5;
  padding: 1rem 0;
}

@media screen and (min-width: 375px) {
  main.container .main__cart__footer__fee, main.container .main__cart__footer__total {
    padding: 1rem 0 2rem;
  }
}

main.container .main__cart__footer__fee .fee, main.container .main__cart__footer__fee .total, main.container .main__cart__footer__total .fee, main.container .main__cart__footer__total .total {
  line-height: 17px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}

main.container .main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
  padding-top: 1.5rem;
  border-top: 1px solid #e6e6eb;
}

@media screen and (min-width: 375px) {
  main.container .main__button {
    grid-area: buttons;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    margin: 0;
  }
}

main.container .main__button__previous button, main.container .main__button__next button {
  all: unset;
  width: 9.75rem;
  height: 2.875rem;
  border-radius: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

@media screen and (min-width: 375px) {
  main.container .main__button__previous button, main.container .main__button__next button {
    width: 10.875rem;
  }
}

main.container .main__button__next.stepOne {
  width: 100%;
}

@media screen and (min-width: 375px) {
  main.container .main__button__next.stepOne {
    width: 10.875rem;
  }
}

main.container .main__button__next.stepOne button {
  width: 100%;
}

@media screen and (min-width: 375px) {
  main.container .main__button__next.stepOne button {
    width: 10.875rem;
  }
}

main.container .main__button__next button {
  background-color: #f67599;
  color: #ffffff;
  text-align: center;
}

.currencySymbol::before {
  content: "$";
}
/*# sourceMappingURL=main.css.map */